body {
    border: 2px solid lightblue;
    width: 25%;
    padding: 10px;
}

img {
    width: 200px;
}

.lien {
    border-bottom: 1px solid black;
}

.elements {
    border-bottom: 1px solid black;
}

.prog {
    border-bottom: 1px solid black;
}

.barre progress[value] {
    appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.barre progress[value]::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.barre progress[value]::-webkit-progress-value {
    background-color: #4caf50; 
    border-radius: 5px;
}
